.get-connected-section {
    padding-top: 50px;
}

/* Card Styles */
.stats-card {
    padding: 16px 8px;
    border-radius: 8px;
    text-align: left;
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%);
    box-shadow: 0px 4px 4px 0px #0000000F;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 100%;
    flex: 1;
    min-width: 170px;
}


.stats-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}


.get-connected__card {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.get-connected__row {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.get-connected__row .col-lg-auto {
    min-width: 219px;
}

.get-connected__link {
    flex: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #71FFC6 100%);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-width: 260px;
    min-height: 82px;
}

.get-connected__link a {
    font-family: var(--font-content);
    font-weight: 700;
    font-size: var(--text-base);
    line-height: 1;
    color: var(--color-base);
}

.get-connected__link:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.get-connected__row .card-title {
    font-family: var(--font-content);
    font-weight: 600;
    font-size: var(--text-sm);
    line-height: 1;
    letter-spacing: 0px;
    color: var(--color-base);
    margin-bottom: 8px;
}

.get-connected__row .card-number {
    font-family: var(--font-content);
    font-weight: 700;
    font-size: var(--text-mid);
    line-height: 1;
    letter-spacing: 0px;
    color: var(--color-base);
}

.get-connected__row .card-growth {
    font-family: var(--font-content);
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 1;
    letter-spacing: 0px;
    color: var(--color-base);
}

.get-connected__row .card-content {
    display: flex;
    align-items: baseline;
    gap: 22px;
}

.get-connected__row .card-growth {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.get-connected__row .arrow>img {
    height: 12px;
}

.get-connected__img {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 55px 0px;
}

.get-connected__img img {
    max-width: 950px;
}

.get-connected__info {
    font-family: var(--font-content);
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: 1;
    letter-spacing: 0px;
    color: var(--color-base);
    max-width: 1150px;
}

.integration-section {
    margin-top: 90px;
}

.integration-section .section__heading-main {
    margin: 0 0 0px;
}

.integration-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.integration-link {
    font-family: var(--font-content);
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 1;
    letter-spacing: 0px;
    color: var(--color-blue-violet);
}

.integration__span img {
    max-width: 25px;
    max-height: 25px;
}

.integration__card {
    padding: 16px 8px 16px 27px;
    border-radius: 8px;
    cursor: pointer;
}

.integration__card--bordered {
    border: 1px solid #F1F1F1;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
    height: 100%;
}

.integration__card--colored {
    background: var(--color-midnight-blue);
}

.integration__card--img {
    border: 1px solid #F1F1F1;
    box-shadow: 0px 4px 25px 0px #00000012;
    background: url(../imagetwo/solar.png) no-repeat;
    background-size: cover;
}

.integration__header {
    margin-top: 8px;
    display: flex;
    gap: 22px;
    align-items: center;
}

.integration__header .title {
    font-family: var(--font-content);
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 1;
    letter-spacing: 0px;
    color: var(--color-white);
}

.integration__header .title--black {
    color: var(--color-base);
}

.integration__para {
    font-family: var(--font-content);
    font-weight: 400;
    font-size: var(--text-sm);
    line-height: 1.4;
    letter-spacing: 0px;
    color: var(--color-white);
    max-width: 280px;
    margin-top: 65px;
}

.integration__para--black {
    color: var(--color-base);
    margin-top: 25px;
}

.integration__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    background: var(--color-white);
}

.integration__span--custom {
    box-shadow: 0px 4px 4px 0px #00000012;
}

.bottom-card {
    margin-top: 40px;
}

.testimonial {
    margin: 60px 0;
}

.testimonial .section__heading-main {
    margin: 0 0 65px;

}

.testimonial .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 92px;
    min-height: 92px;
    margin-bottom: 15px;
}

/*  */
.testimonial .slick-slide {
    padding-right: 20px;
}

.testimonial-text {
    color: var(--color-dim-grey);
    font-size: var(--text-sm);
    line-height: 1.5;
    margin: 6px 0px 32px 22px;
    max-width: 320px;
}

.testimonial-main {
    margin-top: 35px !important;
}

.testimonial-slide {
    border: 1px solid #F1F1F1;
    box-shadow: 0px 4px 25px 0px #00000012;
    /* padding: 16px 8px; */
    border-radius: 8px;
}

.testimonial-card {
    /* margin-left: 14px; */
}

.logo-text {
    margin: 16px 0 10px 0px;
}

.testimonial-top {
    margin-top: 28px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14px;
}

.company-logo {
    align-self: center;
}

.logo-text {
    align-self: center;
}

.testimonial-additional {
    margin-top: 30px;
}

.read-full-review {
    font-family: var(--font-content);
    color: #007bff;
    font-size: 12px;
    text-decoration: none;
    margin-top: auto;
    align-self: flex-end;
    margin-right: 34px;
    margin-bottom: 25px;
}

.read-full-review:hover {
    text-decoration: underline;
}



/* Responsive Design */

@media (max-width: 1400px) {
    .get-connected__link {
        min-width: 220px;
    }
}


@media (max-width: 1200px) {
    .integration__para {
        margin-top: 50px;
    }

    .stats-link {
        max-width: 200px;
    }

    .get-connected__link {
        min-height: 50px;
        width: 100%;
        max-width: 350px;
        margin-inline: auto;
    }

    .get-connected__row .card-number {
        font-size: var(--text-md);
    }

    .get-connected__row .card-growth {
        font-size: var(--text-sm);
    }

    .get-connected__row .arrow>img {
        height: 9px;
    }
}


@media (max-width: 1024px) {
    .get-connected__card {
        flex-direction: column;
    }
}


/* Responsive */
@media (max-width:991.98px) {
    .integration__para {
        margin-top: 40px;
    }

    .get-connected__link {
        flex: none;
    }

    .get-connected__card {
        flex-direction: column;
    }

    .get-connected__img img {
        max-width: 700px;
    }

    .testimonials-section {
        padding: 40px 0;
    }

    .testimonials-content {
        padding: 30px 20px;
    }

    .get-connected-section {
        padding-top: 25px;
    }

    .integration-section {
        margin-top: 70px;
    }

    .testimonial .section__heading-main {
        margin: 0 0 35px;
    }

}

@media (max-width: 767.98px) {
    .integration__para {
        max-width: none;
    }


    .integration__para {
        margin-top: 30px;
    }

    .get-connected__img img {
        max-width: 560px;
    }

    .testimonials-header {
        font-size: 1.3rem;
        padding: 15px;
    }

    .testimonials-content {
        padding: 20px 15px;
    }

    .testimonial-card {
        height: auto;
        min-height: 250px;
        padding: 20px;
    }

    .stats-card {
        min-width: inherit;
        flex-basis: 48%;
        margin-bottom: 3%;
    }

    .get-connected__row {
        flex-wrap: wrap;
        gap: 3%;
    }

    .testimonial .section__heading-main {
        margin: 0 0 30px;
    }

    .testimonial .slick-slide {
        padding-right: 10px;
    }



}

@media (max-width: 576px) {

    .get-connected__img img {
        max-width: 460px;
    }

    .testimonials-section {
        padding: 30px 0;
    }

    .testimonials-header {
        font-size: 1.2rem;
        padding: 12px;
    }

    .testimonials-content {
        padding: 15px 10px;
    }

    .testimonial-card {
        padding: 15px;
        min-height: 220px;
    }

    .company-logo {
        font-size: 12px;

    }

    .testimonial-text {
        font-size: 13px;
    }

}

@media (max-width: 480px) {
    .get-connected__img img {
        max-width: 360px;
    }

    .integration-block {
        flex-direction: column;
    }

    .integration-section .section__heading-main {
        margin: 0 0 30px;
    }


}

@media (max-width: 360px) {
    .get-connected__img img {
        max-width: 280px;
    }
}